{% extends 'shortner/base.html' %}


{% block content %}
<div class="jumbotron">
    <center>
        <h1>Say GoodBye to Long Boring URL </h1>
        <a href="/create/"><button type="button" class="btn btn-secondary">Create Shorter URL</button></a>
    </center>
</div>

<div class="jumbotron">
    <center>
        <h3>Check Out My Other Projects</h3>
        <a href="https://bio.link/barshanmukherjee"><button type="button"
                class="btn btn-primary">Here</button></a>
    </center>
</div>
{% endblock content %}